<!doctype html>
<html lang="en">
<head>
  <meta name="google-site-verification" content="6N65FHgfF3ORbaIVXO05h-jZpXeWmnsKpVDa9sb1T94" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{ insert head_mixin.html }}

  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  {{insert header.html}}

<!-- Content appended here -->
